body {
    background-color: darkslategray;
}

#banner {
    width: 100%;
    height: 100px;
    background: lightgreen;
    border-top: 10px dotted;
    border-bottom: 10px dotted;
    text-align: center;
    display: table;
}

#banner h1 {
    font-family: 'Monsieur La Doulaise';
    font-weight: normal;
    font-size: 50px;
    vertical-align: middle;
    display: table-cell;
}

#content {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 50px;
}

#main-content {
    text-align: center;
}

#enter {
    height: 100px;
    width: 300px;
    background: crimson;
    border: 2px solid black;
    border-radius: 8px;
    margin: auto;
    cursor: pointer;
    display: table;
}

#enter a {
    font-family: 'Monoton';
    font-size: 3em;
    color: black;
    text-decoration: none;
    vertical-align: middle;
    display: table-cell;
}

#splash {
    width: 700px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 50px;
}


.tab {
    overflow: hidden;
    border: 2px solid black;
    background-color: darkgray;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: gray;
}

.tab button.active {
    color: lightgreen;
    background-color: black;
}

#tab-content {
    background: lightgreen;
    #padding: 10px 50px;
    border: 2px solid black;
    border-top: none;
}

#tab-content hr {
    border-top: 2px solid black;
}

table, th, td {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}

audio {
    display: inline;
    height: 16px;
}

.tab-content {
    padding: 10px 50px;
}

##.tab-content p, .tab-content li, .tab-content table,
##.tab-content h2, .tab-content h3, .tab-content h4 {
    background-color: lightgreen;
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
}

##music-content {
    background-image: url(images/seamless-music.jpg);
    background-repeat: repeat-xy;
}

table {
    background-image: url(images/parchment.jpg);
}